.games {
  margin-top: 14rem;
  margin-left: 10rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;

  .game {
    height: 20rem;
    width: 22.2rem;
    background-color: #02577a;
    border-radius: var(--b-radius);
    padding: 0 2rem;
    text-align: center;
    cursor: pointer;

    display: grid;
    place-items: center;

    & > p {
      color: var(--white-color);
      text-transform: uppercase;
    }
  }
}

@media screen and (min-width: 36em) {
  .games {
    flex-direction: row;
  }
}
